<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6d7d7df3-d278-4d40-bc42-114caccdfcd8/resourceGroups/FEU21/providers/Microsoft.Web/sites/FixxoBackend</ResourceId>
    <ResourceGroup>FEU21</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fixxobackend.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fixxobackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$FixxoBackend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>